:root {
    --main-color: #FFFFFF;
    --text-color: #212121;
    --main-color2: #2F303A;
    --section-color: #F5F4FA;
    --button-color: #757575;
    --footertext-color:  rgba(255, 255, 255, 0.60);;
  
  
  }