:root {
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --black-color: #212121;
    --darkgrey-color: #2F303A;
    --lightgrey-color: #F5F4FA;
    --middlegrey-color: #757575;
    --lightgreyfooter-color:  rgba(255, 255, 255, 0.60);;
  
  
  }