  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title {
      color: $text-color;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.178571429;
      letter-spacing: 0.84px;
      margin-bottom: 50px;

      @media screen and (min-width: 1200px) {
        color: $text-color;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.166666667;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
      }
    }

    &__schedule {
      // display: flex;
      // justify-content: center;
      // gap: 30px;
      @include flexbox($gap: 30px);
    }

    .schedule {
      &__link {
        display: block;
        width: 130px;
        height: 82px;
        border-radius: 4px;
        outline: 1px solid $svg-color;
        padding: 10px 10px;
        transition-property: outline;
        // transition-duration: 250ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @extend %transition;

        
        @media screen and (min-width: 480px) {
          width: 210px;
          height: 92px;
          padding: 16px 52px;
        }

        @media screen and (min-width: 768px) {
          width: 226px;
          height: 92px;
          padding: 16px 60px;
        }

        @media screen and (min-width: 1200px) {
          width: 170px;
          height: 92px;
          padding: 16px 32px;
        }
      }

      &__image {
        width: 106px;
        height: 60px;
        fill: $svg-color;
        transition-property: fill;
        // transition-duration: 250ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @extend %transition;
      }

      &__link:hover,
      &__link:focus {
        outline: 1px solid $akcent-color;
        border: none;
        .schedule__image {
          fill: $akcent-color;
        }
      }
    }

    .fooster__peters {
      padding: 8.7px 10.564px 10.677px 11px;
    }
  }