  .header {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
      padding-top: 21px;
      padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 21px;
    }

    &__box {
      // display: flex;
      // align-items: center;
      @include flexbox();
    }

    &__menubox {
      @include flexbox($direction: row, $gap: 276px, $wrap: nowrap)
    }

    @media screen and (min-width: 768px) {
      .header__menubox {
        @include flexbox()
      }
    }

    &__logo {
      color: $akcent-color;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.375;
      letter-spacing: 0.72px;

      @media screen and (min-width: 768px) {
        margin-right: 53px;
      }
  
      @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.384615385;
        letter-spacing: 0.78px;
        margin-right: 53px;
      }
    }

    &__span {
      color: $logo-color;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.375;
      letter-spacing: 0.72px;
  
      @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.384615385;
        letter-spacing: 0.78px;
      }
    }

    &__burgermenu {
     visibility: visible;

     @media screen and (min-width: 768px) {
      visibility: hidden;
     }
    }

    .burgermenu {
      &__icon {
        width: 40px;
        height: 40px;
      }
    }

    .nav { 
      &__list {
        // display: flex;
        // gap: 50px;
        @include flexbox($display: none);

        @media screen and (min-width: 768px) {
          @include flexbox($gap: 50px);
        }
      }

      &__studio {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.142857143;
        letter-spacing: 0.28px;
        position: relative;
        transition-property: color;
        // transition-duration: 250ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @extend %transition;

        &:hover,
        &:focus {
        color: $akcent-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.142857143;
        letter-spacing: 0.28px;
        }

        &::after {
          content: " ";
          position: absolute;
          top: 47px;
          display: block;
          width: 48px;
          height: 4px;
          border-radius: 2px;
          background: $akcent-color;
        }

      }

      &__portfoliolink {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.142857143;
        letter-spacing: 0.28px;
        transition-property: color;
        // transition-duration: 250ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @extend %transition;

        &:hover,
        &:focus {
          color: $akcent-color;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.142857143;
          letter-spacing: 0.28px;
       }
      }

      &__contacts {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.142857143;
        letter-spacing: 0.28px;
      }
    }

    .active__page {
      color: $akcent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.142857143;
      letter-spacing: 0.28px;
    }

    &__list {
      // display: flex;
      // gap: 30px;
      @include flexbox($gap: 30px, $display: none);
      margin-left: auto;

      @media screen and (min-width: 768px) {
       @include flexbox($direction: column, $gap: 10px)
      }

      @media screen and (min-width: 1200px) {
        @include flexbox($direction: row, $gap: 30px)
      }
    }

    &__link {
      color: $additional-color;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.166666667;
      letter-spacing: 0.24px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      @include flexbox();
      transition-property: color;
      // transition-duration: 250ms;
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      @extend %transition;

      &:hover,
      &:focus {
        color: $akcent-color;
        .header__icon {
          fill: $akcent-color;
        }
      }

      @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.142857143;
        letter-spacing: 0.28px;
      }
    }

    &__icon {
      width: 14px;
      height: 10px;
      fill: $additional-color;
      margin-right: 8px;
      transition-property: fill;
      // transition-duration: 250ms;
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      @extend %transition;

      @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
        margin-right: 10px;
      }
    }

    &__item:last-child {
      margin-right: 15px;
      .header__icon {
        width: 10px;
        height: 14px;

        @media screen and (min-width: 1200px) {
          width: 10px;
          height: 16px;
        }
      }
    }  
  }