.section-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .section-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142857143;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .section-desc {
    color: var(--additional-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714285714;
    letter-spacing: 0.42px;
    width: 270px;
    margin-top: 10px;
  }
  
  .section-item::before {
    content: " ";
    display: block;
    width: 270px;
    height: 120px;
    background-color: var(--section-background);
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: none;
  }

  .section-item:first-child::before {
    background-image: url(../img/antenna.png);
  }

  .section-item:nth-child(2)::before {
    background-image: url(../img/clock.png);
  }

  .section-item:nth-child(3)::before {
    background-image: url(../img/diagram.png);
  }

  .section-item:nth-child(4)::before {
    background-image: url(../img/astronaut.png);
  }

  .section-list {
    display: flex;
    gap: 30px;
  }