  .work {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
      // display: flex;
      // gap: 30px;
      @include flexbox($gap: 30px, $justify: center, $align: normal);

      @media screen and (min-width: 768px) {
        @include flexbox($gap: 30px, $justify: normal, $align: normal);
      }

      @media screen and (min-width: 1200px) {
        @include flexbox($gap: 30px, $justify: normal, $align: normal);
      }
    }

    &__item::before {
      content: " ";
      display: block;
      width: 450px;
      height: 120px;
      background-color: $section-background;
      margin-bottom: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      background-image: none;
      border-radius: 4px;

      @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
        border-radius: 4px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
        border-radius: 4px;
      }
    }
  
    &__item:first-child::before {
      background-image: url(../img/antenna.png);
    }
  
    &__item:nth-child(2)::before {
      background-image: url(../img/clock.png);
    }
  
    &__item:nth-child(3)::before {
      background-image: url(../img/diagram.png);
    }
  
    &__item:nth-child(4)::before {
      background-image: url(../img/astronaut.png);
    }

    &__title {
      color: $text-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.142857143;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: start;
      }

      @media screen and (min-width: 1200px) {
        text-align: start;
      }
    }
  
    &__desc {
      color: $additional-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.714285714;
      letter-spacing: 0.42px;
      width: 450px;
      margin-top: 10px;
      

      @media screen and (min-width: 768px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }
    }
  }