@mixin flexbox($justify: center, $align: center, $wrap: wrap, $direction: row, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
    gap: $gap;
}

@mixin text($size: 0px, $weight: 0px, $height: 0px, $spacing: 0px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}